<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Deepak Kumar Sahoo {{ title }}
  </h1>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  <table style="border:1px solid; width:400px">
    <tr><th colspan="4">Users List (from api)</th></tr>
    <br>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Profession</th>
      <th>Pwd</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.profession}}</td>
      <td>{{user.password}}</td>
    </tr>
  </table>
<br>
  <table style="border:1px solid; width:400px">
    <tr><th colspan="4">Fruits List (from api and db)</th></tr>
    <br>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Origin</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let fruit of fruits">
      <td>{{fruit.id}}</td>
      <td>{{fruit.name}}</td>
      <td>{{fruit.origin}}</td>
      <td>{{fruit.price}}</td>
    </tr>
  </table>
  <button (click)="updateBanana()">Update Banana Price</button>
  <button (click)="insertMany()">Insert multiple records</button>
</div>



<router-outlet></router-outlet>
